* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --transition-general: all .4s ease-in-out;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
    --grid-common: repeat(2, 1fr);
}

body {
    background-color: var(--color-primary);
    font-family: sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: var(--transition-general)
}

p {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: 500;
    line-height: 1;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

/*////////// SECTIONS //////////*/
.section {
    transform: translateY(-100%) scale(0);
    transition: var(--transition-general);
    background-color: var(--color-primary);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;
}

@keyframes scaleAnim {
    0% {
      transform: translateY(-100%) scaleY(0);
    }
  
    100% {
      transform: translateY(0) scaleY(1);
    }
}

/*////////// CONTROLS //////////*/
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.controls .active-btn {
    background-color: var(--color-secondary) !important;
    transform: var(--transition-general);
}

.controls .active-btn i {
    color: var(--color-white) !important;
}

.controls .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    box-shadow: var(--box-shadow-1);
}

.control i {
    font-size: 1.2rem;
    color: var(--color-grey-2);
    pointer-events: none;
}


/*////////// Header-Content //////////*/
.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.header-content .left-header {
    display: flex;
    align-items: center;
    position: relative;
}

/*Left-Header*/
.left-header .h-shape {
    transition: var(--transition-general);
    width: 65%;
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}

.left-header .image {
    border-radius: var(--br-sm-2);
    height: 90%;
    width: 68%;
    margin-left: 4rem;
    /* background-color: var(--color-black); */
    transition: var(--transition-general);
}

.left-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: var(--transition-general);
    filter: grayscale(100%);
}
.left-header img:hover {
    filter: grayscale(0);
}

/*Right-Header*/
.header-content .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
}

.header-content .right-header .name {
    font-size: 3rem;
}

.header-content .right-header .name span {
    color: var(--color-secondary);
}

.header-content .right-header p {
    margin: 1.5rem 0;
    line-height: 2rem;
}

/*////////// ABOUT //////////*/
.about-container {
    display: grid;
    grid-template-columns:var(--grid-common);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
}

/*Right-About*/
.about-container .right-about {
    display: grid;
    grid-template-columns: var(--grid-common);
    gap: 2rem;
}

.about-container .right-about .about-item {
    border: 1px solid var(--color-grey-5);
    border-radius: 5px;
    transition: var(--transition-general);
    box-shadow: 1px 2px 15px rgba(0,0,0,0.1);
}

.about-container .right-about .about-item:hover {
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid var(--color-secondary);
    box-shadow: 1px 4px 15px rgba(0,0,0,0.32);
}

.about-container .right-about .about-item .abt-text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.about-container .right-about .about-item .abt-text .large-text {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-secondary);
}

.about-container .right-about .about-item .abt-text .small-text {
    padding-left: 3rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--color-grey-1);
    letter-spacing: 2px;
}

.about-container .right-about .about-item .abt-text .small-text::before {
    content:"";
    position: absolute;
    left: 0;
    top: 15px;
    width: 2rem;
    height: 2px;
    background-color: var(--color-grey-5);
}

/*Left-About*/
.about-container .left-about {
    padding-right: 5rem;
}

.about-container .left-about p {
    line-height: 2rem;
    padding: 1rem;
    color: var(--color-grey-1);
}

.about-container .left-about h4 {
    font-size: 2rem;
    text-transform: uppercase;
}

/*Bottom-About*/
.bottom-jump {
    border-top: 2px solid var(--color-secondary);
    margin-top: 2rem;
}

.about-container .bottom-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}

.about-container .bottom-about h2 {
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.about-container .bottom-about .bottom-item {
    display: flex;
}
.about-container .bottom-about .lang-item {
    display: flex;
    padding-right: 2rem;;
    justify-content: center;
    align-items: center;
}

.about-container .bottom-about .lang-item .lang-js {
    color: rgb(218, 218, 60);
    padding-right: 0.5rem;
    font-size: 1.8rem;
}

.about-container .bottom-about .lang-item .lang-css {
    color: rgb(51, 187, 187);
    padding-right: 0.5rem;
    font-size: 1.8rem;
}

.about-container .bottom-about .lang-item .lang-html {
    color: rgb(204, 67, 17);
    padding-right: 0.5rem;
    font-size: 1.8rem;
}

.about-container .bottom-about .lang-item .lang-text {
    color: var(--color-secondary);
    position: relative;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

/*////////// PORTFOLIOS //////////*/
.port-text {
    padding: 2rem 0;
    text-align: center;
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.portfolios .portfolio-item {
    position: relative;
}

.portfolios .portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.portfolios .portfolio-item .hover-item {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: var(--transition-general);
}

.portfolios .portfolio-item .hover-item h3 {
    font-size: 1.5rem;
    color: var(--color-white);
    margin-bottom: 1.5rem;
}

.portfolios .portfolio-item .hover-item .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolios .portfolio-item .hover-item .icons .icon {
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: var(--transition-general);
}

.portfolios .portfolio-item .hover-item .icons .icon i {
    font-size: 1.5rem;
    color: var(--color-white);
    margin: 0 1rem;
}

.portfolios .portfolio-item .hover-item .icons .icon:hover {
    background-color: var(--color-white);  
}

.portfolios .portfolio-item .hover-item .icons .icon:hover i {
    color: var(--color-primary);
}

.portfolio-item:hover .hover-item {
    opacity: 1;
    transform: scale(1);
}

/*////////// FORM //////////*/
form {
    background-color: var(--color-grey-6);
    border-radius: 10px;
    font-weight: 900;
    color: var(--color-secondary) !important;
}

.contact-info {
    position: relative;
}

.contact-info span {
    color: var(--color-secondary);
}

.contact-info h2 {
    padding: 1rem 0;
}

.contact-info ul {
    padding: 0;
}

.contact-info li {
    padding-bottom: .5rem;
}

/*////////// INDEPENDENT COMPONENTS //////////*/
.btn-con {
    display: flex;
    align-self: flex-start;
}

.main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
}

.main-btn .btn-text {
    padding: 0 2rem;
}

.main-btn .btn-icon {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}

.main-btn::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: var(--transition-general);
    z-index: -1;
}

.main-btn:hover::before {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    transform: translateX(0);
    transition: var(--transition-general);
}

.main-title {
    text-align: center;
}

.main-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
}

.main-title h2 span {
    color: var(--color-secondary);
}

.main-title h2 .bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-grey-5);
    transition: var(--transition-general);
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 6.3rem;
}


/*////////// MEDIAQUERIES //////////*/

@media screen and (max-width: 992px) {
    
    header {
        min-height: 100vh;
        padding: 0 !important;
    }
  
    .theme-btn {
      width: 50px;
      height: 50px;
    }
  
    .header-content {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 6rem;
    }
  
    .left-header .h-shape {
      display: none;
    }
  
    .right-header {
      grid-row: 1;
      padding-right: 0rem !important;
      width: 90%;
      margin: 0 auto;
    }
    .right-header .name {
      font-size: 2.5rem !important;
      text-align: center;
      padding-top: 3rem;
    }
  
    .header-content .left-header .image {
      margin: 0 auto;
      width: 90%;
    }
  
    .about-container {
        grid-template-columns: 1fr;
    }

    .about-container .right-about {
        grid-template-columns: 1fr;
        padding-top: 2.5rem;
    }

    .section {
        padding: 2rem 2.5rem !important;
    }

    .controls {
      top: auto;
      bottom: 0;
      flex-direction: row;
      justify-content: center;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background-color: var(--color-grey-5);
    }
    .controls .control {
      margin: 1rem 0.3rem; 
    }
}